# Interroger une base de données MySQL
Ce document est un **Jupyter Notebook** dans lequel on peut exécuter *des instructions Python* et donc qu'on peut utiliser pour **interroger une base MySQL**.
Pour exécuter ce Jupyter Notebook, je vous conseille d'utiliser la plateforme **Naas.ai**.

### Import des librairies Python (nécessaire pour la suite)

In [35]:
import os
import pymysql
import pandas as pd

### Connexion à la base "cavi_films"

In [36]:
# Informations de connexion à la base "cavi_films"
# (L'utilisateur "cavi_lgi" n'ayant que les droits de lecture sur la base)
host = "mysql-cavi.alwaysdata.net"
port = 3306
database = "cavi_films"

user = "cavi_lgi"
password = "LGICharmilles2021"

# => Pour explorer la base "cavi_films", connectez-vous au
#  PHPMyAdmin associé à cette base : https://phpmyadmin.alwaysdata.com/
#  et renseigner les informations de connexion indiqués ci-dessus

# Connexion à la base (via l'objet "co")
MYSQL_CX = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

### Exemple : Affichage des artistes nés en 1990 ou après

In [37]:
# Définition de la requête
# /!\ Bien penser à utiliser le triple-quote '''
#   pour pouvoir faire des requêtes sur plusieurs lignes
query0 = '''SELECT * FROM Artiste
WHERE annéeNaiss >= 1990'''

# Exécution de la requête
df0 = pd.read_sql_query(query0, MYSQL_CX)

# Affichage des résultats de la requête
# /!\ Indiquer simplement le nom de la variable pour avoir
#   un affichage formatté des résultats de la requête
df0

    idArtiste            nom   prénom  annéeNaiss
0        6585  Haney-Jardine    Perla        1997
1       17140        Breslin  Abigail        1996
2       83797        Lacoste  Vincent        1993
3       93491        Poulter     Will        1993
4      180878        Copeman  Michael        2018
5      236695         Boyega     John        1992
6      566080        Bloquet    Jonas        1992
7     1034681       Sheridan      Tye        1996
8     1105079         Hedges    Lucas        1996
9     1137823         Martin    Stacy        1991
10    1171570        Lofland    Jacob        1996
11    1255881       Woo-shik     Choi        1990
12    1274508        Martell   Jaeden        2003
13    1315036         Ridley    Daisy        1992
14    1442583         So-dam     Park        1991
15    1496392          Alwyn      Joe        1991

### Exo1 : Afficher les ...

In [38]:
# Définition de la requête
query1 = '''SELECT * ...'''

# Exécution de la requête
df1 = pd.read_sql_query(query1, MYSQL_CX)

# Affichage des résultats de la requête
df1

DatabaseError: Execution failed on sql 'SELECT * ...': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '...' at line 1")

### Fermeture de la connexion avec la BDD
Même si ce n'est pas obligatoire dans ce cadre, c'est toujours mieux de penser à fermer la connexion avec la BDD à la fin de son script.

In [ ]:
MYSQL_CX.close()